<html>
    <head></head>
    <body>
        <a href="/">Início</a>
        <a href="/sobre/">Sobre</a>
        <a href="/blog/">Blog</a>


        <h1>Hello world!</h1>
        <p>Este é o meu primeiro site em Astro!</p>
    </body>
</html>